.ant-input-number {
  width: 100% !important;
}

.ant-input-number-input {
  transition: all 0s linear !important
}

.hide-input-number-tool .ant-input-number-handler-wrap {
  display: none !important
}