
/* settign account layout */
.main-ant-wrapper .ant-radio-wrapper {
    margin-right: 25px !important;
}

/* radio */

.btn-submit-center {
    margin-top: 20px;
}

.btn-submit-center button {
    margin: auto !important;
    left: 50% !important;
}



.main-store-account .hide .main-ant-wrapper {
    display: none !important;
}

.main-store-account .unhide .main-ant-wrapper {
    display: block !important;
}

.main-store-account .btn-action-device button {
    font-size: 8pt;
    height: 25px
}

.main-layout.main-store-account {
    min-height: 100%;
    padding-top: 15px
}

.main-layout.main-store-account .main-upload .ant-upload-list-picture-card .ant-upload-list-item {
   height: 153px !important; 
}