
    .header-color,
    .padding-title,
    .icon-user,
    {
        color: #9A9A9A;
    }

    .store-name .title {
        color: #4F2B0B;
        font-weight: bold;
        font-size: 18pt;
    }

    .header .user-account .title-user {
        position: relative;
        top: -5px;
    }

    .header .back-office {
        font-size: 10pt
    }

    .header .slowgan-title {
        font-size: 12pt;
    }

    .padding-title {
        padding: 8px;
    }

    .ant-layout-header,
    .header-left {
        height: 70px;
    }

    .ant-layout-header {
        padding: 0 0;
        z-index: 2;
    }


    ul.help-layout li {
        list-style-type: none;
        float: left;
    }

    .dropdown.nav-item {
        list-style-type: none;
    }

    .dropdown.nav-item a {
        float: left;
    }


    .antd-pro-notice-icon-icon,.icon-user i {
        font-size: 23px;
    }

    .icon-user i{
        margin-top: -25px;
        border: 1px solid #C7C7C7;
        border-radius: 17px;
        float: right;
        margin-right: -23px;
    }

    .nav-link {
        padding: 0px !important;
    }

    .header .header-left {
        display: table;
        padding-right: 15px
    }

    .clear-margin {
        margin-right: 0px !important;
        margin-left: 0px !important
    }

    .store-logo {
        width: 90px;
        height: 70px;
        position: fixed;
        background-color: #093163;
        text-align: center;
        line-height: 70px;
        display: table;
    }

    .store-logo .icon-logo {
        color: white;
        display: table-cell;
        vertical-align: middle;
        font-size: 30pt
    }

    .wrap-header {
        margin-left: 90px !important
    }









