    /* color */
    .header-color,.padding-title,.icon-user,
    /* .main-user-select li a, */
    .border-right,
    .main-search input::placeholder,
    .main-search i,
    /* .main-user-select ul li */
    {
        color: #9A9A9A;
    }

    .header .logo-title {
        color: #216FB6;
        font-weight: bold;
        font-size: 16pt;
    }

    .header .slowgan-title {
        font-size: 12pt;
    }

    .padding-title {
        padding: 8px;
    }

    .ant-layout-header,
    .header-left {
        height: 70px;
    }

    .ant-layout-header {
        padding: 0 0;
        z-index: 2;
    }

    /* search */
    .main-search {
        top: -16px;
    }

    .main-search input {
        border: none;
    }

    .main-search i.search-icon {
        position: absolute;
        font-size: 19px;
        top: 30px;
        left: 22px;
    }

    .main-search input {
        padding-left: 36px;
    }

    ul.help-layout li {
        list-style-type: none;
        float: left;
    }

    /* user account */

    /* .main-user-select {
        float: right;
        position: relative;
        left: -90px;
        top: 11px;
    } */

    /* .main-user-select ul li {
        list-style-type: none;
        float: left;
        padding: 0px 26px;
        font-size: 14px;
    } */

    .dropdown.nav-item {
        list-style-type: none;
    }

    .dropdown.nav-item a {
        float: left;
    }


    .antd-pro-notice-icon-icon,.icon-user i {
        font-size: 23px;
    }

    .icon-user i{
        margin-top: -25px;
        border: 1px solid #C7C7C7;
        border-radius: 17px;
        float: right;
        margin-right: -23px;
    }

    .nav-link {
        padding: 0px !important;
    }

    .header-left {
        display: table
    }

    .ant-popover.antd-pro-notice-icon-popover {
        top: 60px !important
    }









