REACT_APP_API_HOST=http://localhost
REACT_APP_API_HOST=http://178.128.217.131
REACT_APP_API_PORT=3000
REACT_APP_API_ROOT=api
REACT_APP_DATE_TIME_FORMART="MMM-Do-YYYY h:mm A"

//2
REACT_APP_API_HOST=http://178.128.217.131
REACT_APP_API_PORT=3000
REACT_APP_API_ROOT=api
REACT_APP_DATE_TIME_FORMART="MMM-Do-YYYY h:mm A"


//3
REACT_APP_API_HOST=http://178.128.217.131
REACT_APP_API_DEV_HOST=http://127.0.0.1
REACT_APP_API_PORT=3000
REACT_APP_API_ROOT=api
REACT_APP_ENV=PROD
REACT_APP_DATE_TIME_FORMART="MMM-Do-YYYY h:mm A"


//for live server
REACT_APP_API_HOST=http://178.128.217.131
REACT_APP_API_DEV_HOST=http://127.0.0.1
REACT_APP_API_PORT=3000
REACT_APP_API_ROOT=api
REACT_APP_ENV=PROD
REACT_APP_DATE_TIME_FORMART="MMM-Do-YYYY h:mm A"


