.ant-btn.info,
.ant-btn.danger {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10pt;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)
}

.ant-btn.info {
    background-color: #093163
}

.ant-btn.danger {
    background-color: #B90000
}

.ant-btn.info:hover,
.ant-btn.info:focus,
.ant-btn.info:active,
.ant-btn.info.active {
    background: #124586 !important
}

.ant-btn.danger:hover,
.ant-btn.danger:focus,
.ant-btn.danger:active,
.ant-btn.danger.active {
    background: #c72727 !important
}

.ant-btn:hover,
.ant-btn:focus {
    color: white !important
}