.ant-btn.info,
.ant-btn.danger,
.ant-btn.receive {
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-size: 10pt;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)
}

.ant-btn.info {
    background-color: #093163
}

.ant-btn.danger {
    background-color: #B90000
}

.ant-btn.receive {
    background-color: #87d068
}

.ant-btn.info:hover,
.ant-btn.info:focus,
.ant-btn.info:active,
.ant-btn.info.active {
    background: #124586 !important
}

.ant-btn.danger:hover,
.ant-btn.danger:focus,
.ant-btn.danger:active,
.ant-btn.danger.active {
    background: #c72727 !important
}

.ant-btn.receive:hover,
.ant-btn.receive:focus,
.ant-btn.receive:active,
.ant-btn.receive.active {
    background: #8cde69 !important
}

.ant-btn.danger[disabled],
.ant-btn.danger[disabled]:hover {
    background-color: #b35959 !important
}

.ant-btn.info[disabled],
.ant-btn.info[disabled]:hover {
    background-color: #314c6f !important
}

.ant-btn:hover,
.ant-btn:focus {
    color: white !important
}

/* search button */
.main-search-button button {
    height: 40px;
    width: 40px;
    position: relative;
    top: 16px;
}

.main-search-button span {
    position: relative;
    top: 2px;
    right: 4px; 
    color: white !important;
}