.ant-table-body .ant-table-thead > tr > th {
    padding-top: 6px;
    padding-bottom: 6px
}

.main-operation-record .main-radio .ant-radio-button-wrapper{
    height: 50px !important;
    width: 228px !important;
}

.main-operation-record .main-radio .radio-title {
    position: relative; 
    top: 8px;
    text-transform: uppercase
}

.main-radio .ant-radio-button-wrapper {
    width: 48% !important;
    padding-top: 18px
}