.group-code-generate {
    border-radius: 3px;
    border: 1px solid #ecebeb;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px
}

.label-stock-status {
    font-weight: 600
}

.group-code-generate .main-ant-wrapper {
    display: inline-flex;
    position: relative;
    top: -5px
}

.standard-product-row .ant-table-row-expand-icon-cell .ant-table-row-expand-icon {
    display: none
}

.group-code-generate .ant-form-item {
    margin-bottom: 0 !important
}

.group-code-generate .ant-radio-group .ant-radio-wrapper {
    padding: 2px 0px !important;
}

.group-code-generate .wrap-generate-code .ant-form-item-control {
    line-height: normal
}

.product-type .ant-radio-button-wrapper {
    height: auto !important;
    width: 32% !important;
    min-height: 100px !important
}

.product-type #productTypeBox {
    display: inline-flex
}

.product-type-content {
    margin-top: 25px
}

.product-type-content .variant-item-row {
    padding-left: 20px
}

.product-type-content .wrap-variant-action {
    display: flex
}

.product-type-content .delete-variant-item {
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 6px
}

.product-type-content .delete-variant-item span {
    font-size: 15pt
}

.product-type-content  .btn-add-product-compsite{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15pt;
    position: relative;
    top: 25px;
    right: 20px
}

.wrap-variant-item-row:first-child {
    margin-top: 10px
}

.wrap-variant-item-row .btn-add-more-variant {
    padding-left: 35px
}

.wrap-variant-item-row .wrap-lozenge-group-input {
    height: auto
}

.btn-delete-attribute {
    margin-top: 5px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 8px
}

.create-product-column-left {
    border-right: 1px solid #d9d9d9
}

.main-searchs .is-validating.has-feedback .ant-form-item-children:after {
    right: 30px;
    font-size: 20px
}

.product-type-content table tr td .ant-form-item {
    margin-bottom: 0 !important
}

.product-type-content table tr td {
    padding: 5px 16px !important;
}

.product-type-content table tr td .composite-product-code {
    color: #d3cbcb;
    padding-top: 2px
}

.wrapRowContentTab {
    min-height: 830px;
    display: inherit !important
}

.barcode-number {
    color: #9A9A9A;
    font-size: 7pt
}

.modal-product .wrapRowContentTab .ant-table-content {
    margin-top: 0
}

#productOption {
    display: inline-flex
}

/* FLEX LAYOUT FOR BIG COMPONENT */
.modal-product .ant-tabs-bar {
    margin: 0 0 0 0 !important
}

.modal-product .ant-modal-body {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.modal-product .ant-modal-content {
    flex-direction: column
}

.modal-product .ant-modal,
.modal-product .ant-modal-content {
    height: 100%
}

.modal-product .ant-modal-body {
    flex-direction: row
}

.modal-product .ant-form {
    flex-direction: column
}

.modal-product .ant-form,
.modal-product .ant-tabs {
    width: 100%
}

.modal-product .ant-tabs {
    flex-direction: column;
    padding-left: 15px
}

.modal-product .tab-item-language {
    padding-left: 0 !important
}

.modal-product .ant-tabs .ant-tabs-content {
    flex-direction: row;
    flex: 1
}

.modal-product .ant-tabs .ant-tabs-content .ant-tabs-tabpane:first-child{
    overflow: hidden auto;/*x:hidden y: auto*/
    padding-right: 15px;
    height: 100%
}

.modal-product .ant-tabs .ant-tabs-content .ant-tabs-tabpane{
    padding-top: 15px
}

.modal-product .ant-modal-footer {
    background: #f7f7f7cc
}

.modal-product .ant-form,
.modal-product .ant-modal-content,
.modal-product .ant-modal-body,
.modal-product .ant-tabs,
.modal-product .ant-tabs .ant-tabs-content {
    display: flex;
    height: 100%
}

.main-product-collapse .ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
    margin-left: -17px;
}

.main-product-collapse {
    margin-bottom: -20px;
}