.btn-push-to-supplier {
    width: 153px !important;
}

.main-dropdown-search .total-amount {
    text-align: right;
    color: #9A9A9A;
    font-size: 10pt;
    margin-top: 14px;
}

#purchase-order-form .purchase-order-entry {
    min-height: 425px
}

.ant-form-horizontal .purchase-order {
    margin-bottom: 0px !important
}

#purchase-order-form .purchase-order-entry .search-dropdown-product{
    padding-left: 0;
    padding-right: 0
}

#purchase-order-form .purchase-order-entry .ant-table-body table tbody tr td input {
    text-align: right;
    padding-right: 5px
}

#purchase-order-form .purchase-order-entry .ant-table-body table tbody tr td .totalPrice input {
    padding-right: 0px
}

#purchase-order-form .purchase-order-entry .ant-table-body table tbody tr td .totalPrice input {
    background-color: #faf9f900;
    opacity: 1.5;
    cursor: default;
    color: #9A9A9A;
    border: none;
}

#purchase-order-form .purchase-order-entry .grandTotal .ant-form-item-control {
    line-height: 0;
    top: -5px
}

#purchase-order-form .wrap-po-filter-create {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px
}

.po-step-tag {
    min-width: 60px;
    width: 60px;
    font-size: 8pt
}