.main-searchs input {
    width: 98%;
    border: none;
    height: 50px;
}

.main-searchs .search-icon{
    float: left;
    position: relative;
    font-size: 36pt;
}

.main-searchs .remove-search-icon {
    float: right;
    position: relative;
    top: -49px;
    font-size: 31px;
}

.search-height {
    height: 40px !important;
}


.btn-push-to-supplier {
    width: 153px !important;
}

.main-dropdown-search .total-amount {
    text-align: right;
    color: #9A9A9A;
    font-size: 10pt;
    margin-top: 14px;
}