
.element-color,
.main-input input::placeholder,
.main-home-page,
.main-antselect .ant-select-selection-selected-value,
.main-input input[type=text],
.main-trash button ,
.main-trash button:hover,
.main-trash button:focus,
.main-trash button:active
{
    color: #4D4F5C;
}

.main-antselect label,
.main-input label {
    font-size: 8pt;
}

.main-input input::placeholder,
.main-antselect input::placeholder {
    font-size: 12pt !important;
}


.main-input input::placeholder,
/* .main-antselect input::placeholder { */
{
    position: absolute;
    left: 20px;
    top: 0px;
}

.main-home-page {
    padding-top: 21px;
}

/* .main-antselect .ant-select-selection-selected-value {
    font-weight: bold;
} */


.mix-none-border,
/* .main-antselect .ant-select-selection, */
/* .main-date-picker .ant-calendar-picker-input, */
.main-input input
 {
    border: none;
    border-radius: 0px;
    webkit-box-shadow: 0px 2px 0px 0px rgba(234,234,234,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(234,234,234,1);
    box-shadow: 0px 2px 0px 0px rgba(234,234,234,1);
}


.main-input label
{
    position: absolute;
    line-height: 23px;
    top: 21px;
    left: 25px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform: scale(0.75) translate(0px, -28px) ;
    transform-origin: left top 0px ;
    text-transform: capitalize;
    color: #9A9A9A;
}

/* .main-antselect .ant-select-selection__rendered {
    line-height: 30px !important;
} */

.main-antselect .ant-select-selection-selected-value,
/* .main-date-picker .ant-calendar-picker-input, */
.main-input input
{
    font-size: 17px;
}

.main-antselect .ant-select-selection--single,
.main-input input 
{
    height: 30px !important;
}

body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .footer {
    margin: 9px 20px;
    font-size: 12px;
    color: #777;
  }
  

  /* spint waiting  */
  .main-waiting .ant-spin {
    width: 100%;
    padding: 0;
  }

  /* Trash button */
  .main-trash button {
    border: none;
    background-color: white !important;
    font-size: 20pt;
  }