@font-face {
  font-family: 'ca';
  src:  url('fonts/ca.eot?qr8wns');
  src:  url('fonts/ca.eot?qr8wns#iefix') format('embedded-opentype'),
    url('fonts/ca.ttf?qr8wns') format('truetype'),
    url('fonts/ca.woff?qr8wns') format('woff'),
    url('fonts/ca.svg?qr8wns#ca') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'khfont';
  src:  url('fonts/Nokora-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'enfont';
  src:  url('fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'enfont';
  src:  url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
}
.icon-add-product:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-barcode:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-brand:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-change:before {
  content: "\e90c";
}
.icon-checked:before {
  content: "\e90d";
}
.icon-clear:before {
  content: "\e90e";
}
.icon-comming-soon:before {
  content: "\e90f";
}
.icon-completed:before {
  content: "\e910";
}
.icon-currency:before {
  content: "\e911";
}
.icon-customer:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-dollar:before {
  content: "\e914";
}
.icon-employee:before {
  content: "\e915";
}
.icon-exit-full-screen:before {
  content: "\e916";
}
.icon-export:before {
  content: "\e917";
}
.icon-finterprint:before {
  content: "\e918";
}
.icon-full-screen:before {
  content: "\e919";
}
.icon-group:before {
  content: "\e91a";
}
.icon-help:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91c";
}
.icon-import:before {
  content: "\e91d";
}
.icon-information:before {
  content: "\e91e";
}
.icon-items:before {
  content: "\e91f";
}
.icon-kh .path1:before {
  content: "\e920";
  color: rgb(65, 71, 155);
}
.icon-kh .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-kh .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-language:before {
  content: "\e923";
}
.icon-list:before {
  content: "\e924";
}
.icon-logo:before {
  content: "\e925";
}
.icon-logout:before {
  content: "\e926";
}
.icon-minus:before {
  content: "\e927";
}
.icon-mm .path1:before {
  content: "\e928";
  color: rgb(255, 75, 85);
}
.icon-mm .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 225, 90);
}
.icon-mm .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(115, 175, 0);
}
.icon-mm .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-modify:before {
  content: "\e92c";
}
.icon-move-down:before {
  content: "\e92d";
}
.icon-move-up:before {
  content: "\e92e";
}
.icon-network:before {
  content: "\e92f";
}
.icon-next:before {
  content: "\e930";
}
.icon-operation:before {
  content: "\e931";
}
.icon-payment-method:before {
  content: "\e932";
}
.icon-payment-report:before {
  content: "\e933";
}
.icon-performance:before {
  content: "\e934";
}
.icon-person:before {
  content: "\e935";
}
.icon-pl .path1:before {
  content: "\e936";
  color: rgb(0, 0, 0);
}
.icon-pl .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pl .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pl .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pl .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pl .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pl .path7:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pl .path8:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pre-order:before {
  content: "\e93e";
}
.icon-previous:before {
  content: "\e93f";
}
.icon-price-book:before {
  content: "\e940";
}
.icon-price-tags:before {
  content: "\e941";
}
.icon-print:before {
  content: "\e942";
}
.icon-promotion:before {
  content: "\e943";
}
.icon-purchasing:before {
  content: "\e944";
}
.icon-push-button:before {
  content: "\e945";
}
.icon-qr:before {
  content: "\e946";
}
.icon-receipt:before {
  content: "\e947";
}
.icon-reload:before {
  content: "\e948";
}
.icon-reports:before {
  content: "\e949";
}
.icon-role:before {
  content: "\e94a";
}
.icon-sale-report:before {
  content: "\e94b";
}
.icon-sale-return:before {
  content: "\e94c";
}
.icon-sale:before {
  content: "\e94d";
}
.icon-save:before {
  content: "\e94e";
}
.icon-scaner:before {
  content: "\e94f";
}
.icon-search:before {
  content: "\e950";
}
.icon-settings:before {
  content: "\e951";
}
.icon-stock-audit:before {
  content: "\e952";
}
.icon-stock-return:before {
  content: "\e953";
}
.icon-stock-transfer:before {
  content: "\e954";
}
.icon-stock:before {
  content: "\e955";
}
.icon-store:before {
  content: "\e956";
}
.icon-storevein-backend .path1:before {
  content: "\e957";
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path6:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path7:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path8:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path9:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-storevein-backend .path10:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path11:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path12:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path13:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path14:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path15:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path16:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path17:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path18:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein-backend .path19:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-storevein:before {
  content: "\e96a";
}
.icon-switch-off:before {
  content: "\e96b";
}
.icon-switch:before {
  content: "\e96c";
}
.icon-tags:before {
  content: "\e96d";
}
.icon-tax-report:before {
  content: "\e96e";
}
.icon-taxes:before {
  content: "\e96f";
}
.icon-time:before {
  content: "\e970";
}
.icon-timesheet:before {
  content: "\e971";
}
.icon-types:before {
  content: "\e972";
}
.icon-uk .path1:before {
  content: "\e973";
  color: rgb(65, 71, 155);
}
.icon-uk .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-uk .path3:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-uk .path4:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-uk .path5:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-uk .path6:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-uk .path7:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-undo:before {
  content: "\e97a";
}
.icon-units:before {
  content: "\e97b";
}
.icon-upload:before {
  content: "\e97c";
}
.icon-us .path1:before {
  content: "\e97d";
  color: rgb(245, 245, 245);
}
.icon-us .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path4:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path5:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path6:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path7:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path8:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-us .path9:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(65, 71, 155);
}
.icon-us .path10:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path11:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path12:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path13:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path14:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path15:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path16:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path17:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path18:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path19:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path20:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path21:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path22:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path23:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path24:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path25:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path26:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path27:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path28:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path29:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path30:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path31:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path32:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path33:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path34:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path35:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path36:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path37:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path38:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path39:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path40:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path41:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path42:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path43:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path44:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path45:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path46:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path47:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path48:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path49:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-us .path50:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-user:before {
  content: "\e9af";
}
