@import '~antd/dist/antd.css';

.header {
    background-color: aquamarine
}
    .header .headerTitle {
        color: red
    }

    .header .right {
        list-style: none;
        float: right;
    }