    @import '~antd/dist/antd.css';

    .header {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .header .logo-title {
        color: #0D62AF;
        font-weight: bold;
    }

    .header .border-right {
        border-right: 2px solid #EAEAEA !important;
    }

    .header .headerTitle {
        color: red
    }

    .header .right {
        list-style: none;
        float: right;
    }