/* 
##Device = Desktops, Laptops, Tablets, Ipads (landscape)
##Screen = B/w start from 768px
*/
@media (min-width: 768px) {
  .wrap-modal-po .ant-modal {
    width: 1200px !important
  }

  .wrap-client-login {
    width: 632px !important
  }

  .inner-client-login {
    display: flex
  }

  .wrap-client-login .blog-login,
  .wrap-client-login {
    min-height: 452px
  }

  .wrap-client-login .blog-login {
    padding: 20px 20px;
    width: 377px  !important;
  }

  .wrap-client-login .wrap-blog-logo {
    width: 257px !important
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* 
##Device = All ipad device
##Screen = B/w 481px to 1366px
*/
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .wrap-client-login .wrap-blog-logo {
    text-align: center
  }

  #sidebar {
    display: none
  }

  .ant-layout-content {
    margin-left: 0 !important;
    margin-top: 62px
  }

  .wrap-card .card .card-body {
    height: 95px
  }

  .wrap-card [class^="icon-"] {
    font-size: 36pt
  }

  .wrap-card .total {
    font-size: 10pt
  }

  .wrap-card .price {
    font-size: 16pt
  }

  /*============= POS SALE ============== */
  #retail-sale .product-order-list .product-order-item-detail {
    padding: 0 !important
  }
}

/* 
##Device = All ipad device
##Screen = B/w 481px to 1366px
*/
/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}


/* 
##Device = All smart phone device
##Screen = B/w 481px to 767px
*/
@media (max-width: 767px) {
  .wrap-client-login {
    height: 300px
  }

  .blog-login .header {
    display: none
  }

  .wrap-client-login {
    padding-left: 15px !important;
    padding-right: 15px !important
  }

  .inner-client-login {
    width: 100%
  }

  .inner-client-login  .blog-login {
    padding: 20px 15px;
    min-height: 225px
  }

  .inner-client-login .blog-login .ant-form-item-label {
    display: none
  }

  .wrap-client-login .wrap-blog-logo {
    padding: 25px 0
  }

  .main-radio-acc .ant-radio-button-wrapper {
    width: 100% !important
  }
}
  
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
}