@font-face {
  font-family: 'ca';
  src:  url('fonts/ca.eot?59fkju');
  src:  url('fonts/ca.eot?59fkju#iefix') format('embedded-opentype'),
    url('fonts/ca.ttf?59fkju') format('truetype'),
    url('fonts/ca.woff?59fkju') format('woff'),
    url('fonts/ca.svg?59fkju#ca') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move-down:before {
  content: "\e915";
}
.icon-previous:before {
  content: "\e91e";
}
.icon-next:before {
  content: "\e930";
}
.icon-move-up:before {
  content: "\e947";
}
.icon-Minus:before {
  content: "\e921";
}
.icon-product-add:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-add-minus:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-arrows:before {
  content: "\e908";
}
.icon-barcode:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}
.icon-bin:before {
  content: "\e90b";
}
.icon-brand:before {
  content: "\e90c";
}
.icon-businessman:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-change:before {
  content: "\e90f";
}
.icon-checkbox:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e911";
}
.icon-clear:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-customer:before {
  content: "\e914";
}
.icon-employee:before {
  content: "\e916";
}
.icon-export:before {
  content: "\e917";
}
.icon-help:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
}
.icon-icon:before {
  content: "\e91a";
}
.icon-import:before {
  content: "\e91b";
}
.icon-information:before {
  content: "\e91c";
}
.icon-items:before {
  content: "\e91d";
}
.icon-list:before {
  content: "\e91f";
}
.icon-logo:before {
  content: "\e920";
}
.icon-network:before {
  content: "\e922";
}
.icon-payment-method:before {
  content: "\e923";
}
.icon-payment-report:before {
  content: "\e924";
}
.icon-performance:before {
  content: "\e925";
}
.icon-pre-order:before {
  content: "\e926";
}
.icon-price-book:before {
  content: "\e927";
}
.icon-printer:before {
  content: "\e928";
}
.icon-product-add2:before {
  content: "\e929";
}
.icon-promotion:before {
  content: "\e92a";
}
.icon-purchasing:before {
  content: "\e92b";
}
.icon-push-button:before {
  content: "\e92c";
}
.icon-receipt:before {
  content: "\e92d";
}
.icon-refresh:before {
  content: "\e92e";
}
.icon-reports:before {
  content: "\e92f";
}
.icon-role:before {
  content: "\e931";
}
.icon-sale-report:before {
  content: "\e932";
}
.icon-sale-return:before {
  content: "\e933";
}
.icon-save:before {
  content: "\e934";
}
.icon-search:before {
  content: "\e935";
}
.icon-settings:before {
  content: "\e936";
}
.icon-shopping-basket:before {
  content: "\e937";
}
.icon-stock:before {
  content: "\e938";
}
.icon-stock-audit:before {
  content: "\e939";
}
.icon-stock-return:before {
  content: "\e93a";
}
.icon-stock-transfer:before {
  content: "\e93b";
}
.icon-store:before {
  content: "\e93c";
}
.icon-storevein:before {
  content: "\e93d";
}
.icon-switchoff:before {
  content: "\e93e";
}
.icon-switchon:before {
  content: "\e93f";
}
.icon-tags:before {
  content: "\e940";
}
.icon-tax:before {
  content: "\e941";
}
.icon-tax-report:before {
  content: "\e942";
}
.icon-time:before {
  content: "\e943";
}
.icon-timesheet:before {
  content: "\e944";
}
.icon-types:before {
  content: "\e945";
}
.icon-undo:before {
  content: "\e946";
}
.icon-usd:before {
  content: "\e948";
}
.icon-user:before {
  content: "\e949";
}
.icon-userman:before {
  content: "\e94a";
}
