
@import "Mobile.css";
@import "Header.css";
@import '~antd/dist/antd.css';
@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0;
    background-color: #F7F7F7 !important;
}

.clearFloat {
    clear: both
}

html {
    height: 100%;
}

.ant-layout.ant-layout-has-sider {
    height: 100% !important;
    position: fixed !important;
    width: 100% !important;
}

.ant-layout-content {
    margin: 24px 16px;
    padding: 24px;
    background:#F7F7F7;
    min-height: 280px;
}

.ant-layout-content,.ant-layout {
    background:#F7F7F7;
}

.ant-layout-content {
    margin-top: 77px;
}

.ant-layout-sider-children .logo {
    min-height: 81px;
    background-color: #093163;
}

.ant-layout-header {
    line-height: normal !important;
    position: fixed;
    width: 100%;
}

.ant-menu,.ant-layout-sider {
    background: #093163;
} 

/* ant icon */
.anticon.anticon-menu-fold,.anticon.anticon-menu-unfold {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.block {
    display: block !important;
}

/* manu */
.ant-menu-dark .ant-menu-sub {
    background:#FFFFFF;
    border-radius: 1px;
    height: 300px;
}

/* notification */

.antd-pro-notice-icon-clear {
    display: none;
}

.notice-icon .ant-badge sup {
    background-color: #FFD627;
    color: #4E8189;
}
