

@import "Responsive.css";
/* @import "Color.scss"; */
@import "Element.css";
@import "Font.css";

body {
    margin: 0;
    background-color: #F7F7F7 !important;
}

html,
#root {
    height: 100%
}

/* MAIN LAYOUT */
.main-layout {
    background-color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 3px
}

.main-layout .general {
    border-bottom: 1px solid #ECECEC;
    text-transform: uppercase
}

/* TABLE */
.ant-table {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto
}

.ant-table-content {
    flex: 0 0 auto;
    min-width: 100%
}

.ant-table-body table tr th,
.ant-table-header table tr th,
.ant-table-body-inner table tr .ant-table-thead
{
    color: #9A9A9A !important;
}

.ant-table-body table tr th,
.ant-table-header table tr th {
    text-transform: uppercase;
}

.ant-table-thead > tr > th.ant-table-selection-column,
.ant-table-tbody > tr > td.ant-table-selection-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 40px !important;
    width: 40px !important
}

.ant-table-tbody tr td .ant-form-item {
    margin-bottom: 0 !important
}

.ant-table-tbody tr td .ant-form-item-control {
    line-height: 1 !important
}

.ant-table-footer {
    font-weight: 500;
    padding: 0 0 !important;
    color: #9A9A9A;
    background: white !important;
    padding-right: 8px;
    display: flex;
    justify-content: flex-end
}

.ant-table-footer .total-title {
    font-size: 9pt;
    width: 150px
}

.ant-table-footer .total-value {
    font-size: 10pt;
    padding-left: 15px;
    width: 150px
}


.ant-table-footer .grandTotal input {
    text-align: right;
    padding-right: 0
}

.ant-table-footer .grandTotal .ant-form-item-control {
    line-height: 0;
    top: -5px
}

.ant-table-footer .wrap-table-footer {
    padding: 5px 10px;
    background-color: #F7F7F7
}

/* BREADCRUMB */
.table-wrapper {
    padding: 15px 15px;
    height: 100%;
    margin-bottom: 15px
    /* overflow: auto */
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
    margin-bottom: 0 !important;
    overflow: hidden !important;
    padding-right: 20px
}

.breadcrumb {
    border-radius: 3px !important;
    padding: 10px 15px !important;
    background-color: #ffffff !important;
    margin-top: 8px;
    flex: none
}

.breadcrumb ul {
    display: inline-flex;
    margin-bottom: 0;
}

.breadcrumb ul li {
    padding-right: 10px;
    padding-left: 10px;
    position: relative
}

.breadcrumb ul li:first-child {
    padding-left: 0px
}

.breadcrumb ul li a {
    font-size: 10pt
}

.breadcrumb ul li a:hover,
.breadcrumb ul li.active a {
    color: #4D4F5C  
}

.breadcrumb ul li::after,
.breadcrumb ul li.fast-nav::after
{
    position: absolute;
    left: 100%;
    color: #9A9A9A;
    font-size: 8pt;
    top: 5px
}

.breadcrumb ul li::after {
    content: ">";
    left: 100%
}

.breadcrumb ul li.fast-nav::after {
    content: "|"
}

.breadcrumb ul li.fast-nav:last-child:after {
    content: ""
}

.ant-alert.ant-alert-no-icon {
    margin-bottom: 15px
}

.confirm-delete .ant-modal {
    width: 375px !important
}

.confirm-delete .ant-modal .icon-help {
    color: #093163
}

.confirm-delete .ant-modal .title {
    font-size: 15pt;
    color: #4D4F5C;
    font-weight: 500;
    position: relative;
    bottom: 5px
}

.ant-alert.ant-alert-error {
    margin-bottom: 10px !important
}

.table-wrapper .ant-btn {
    min-width: 110px
}

.ant-form-inline .ant-form-item {
    display: block !important
}

.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper {
    display: inline !important
}

.wrap-btn-search {
    display: flex;
    align-items: end;
    flex-direction: column
}

.wrap-btn-search .ant-form-item-label {
    line-height: 28px
}


/* TAB */
.ant-tabs.ant-tabs-card > 
.ant-tabs-bar .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover
{
    color: #4D4F5C;
}

.ant-tabs-nav {
    text-transform: uppercase
}

.ant-tabs-tab {
    font-weight: 500
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-radius: 3px 3px 0 0 !important;
    line-height: 35px !important
}

.ant-tabs-nav-container {
    margin-bottom: -4px
}

.ant-tabs-tab .language-icon {
    top: 5px
}

.tab-item-language.ant-tabs > .ant-tabs-bar .ant-tabs-tab{
    padding-left: 20px;
    padding-right: 20px
}

/* button */
.mg-right {
    margin-right: 8px
}

.ant-form-item-label {
    margin-bottom: 0 !important;
    line-height: 25px
}

.ant-form-item-label label:after {
    content: "";
}

.ant-form-horizontal .ant-form-item {
    margin-bottom: 10px !important
}

/*==================INPUT=============*/
.ant-input {
    border-radius: 3px
}

.ca-input-v1 {
    border: none !important
}

.ca-input-v1 .ant-input, 
.ca-input-v1 .ant-input-number-input {
    border: 1.5px solid #ECECEC;
    border-radius: 3px;
    padding: 10px;
    height: auto
}

.ant-input-number.ca-input-v1 {
    height: auto
}

.ca-input-v1 .ant-input:focus,
.ca-input-v1 .ant-input-number-input:focus {
    border-color: #40a9ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
    border-right-width: 1.5px !important
}

.ca-input-v1 .has-error .ant-input-number-input,
.ca-input-v1 .has-error .ant-input
 {
    border: 1.5px solid #f5222d
}

.has-error .ca-input-v1 .ant-input-number-input:focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
}

.has-error .ant-form-explain {
    margin-top: 5px
}

.ca-input-v1-icon-left .ant-input{
    padding-left: 35px !important
}

.ant-input-number.text-right input,
.ant-form-item.text-right input {
    text-align: right;
    padding-right: 5px
}

.ca-input-no-border input{
    background-color: #faf9f900;
    opacity: 1.5;
    cursor: default;
    color: #9A9A9A;
    border: none;
}

.ca-clear-padding input {
    padding-left: 0 !important;
    padding-right: 0 !important
}


/* RADIO */
.main-radio-acc .ant-radio-button-wrapper {
    height: 70px;
    width: 30%;
    /* padding-top: 6px; */
    background-color: #FFFFFF;
    border: 2px solid #CDCCCC;
    border-radius: 3px !important;
    margin-right: 3px;      
}

.main-radio-acc .ant-radio-button-wrapper {
    margin-right: 16px;
}

.main-radio-acc .ant-radio-button-wrapper:last-child {
    margin-right: 0px;
}

.main-radio-acc .ant-radio-button-wrapper-checked::before {
    background-color: none !important;
}

.main-radio-acc .ant-radio-button-wrapper-checked {
    box-shadow: 0 0 0 0 #4D4F5C !important
}

.main-radio-acc .ant-radio-button-wrapper-checked {
    border: 2px solid #093163;
    box-shadow: 0 0 0 0 #4D4F5C !important
}

.main-radio-acc .radio-group {
    text-align: center;
}

.main-radio-acc .radio-title {
    color: #4D4F5C;
    font-size: 11pt;
    font-weight: 500;
}

.main-radio-acc .language {
    font-size: 8pt;
    text-align: center;
    line-height: 12pt;
    color: #9A9A9A;
    white-space: pre-line
}


/* SEARCH INPUT*/
.main-searchs input {
    width: 100%;
    border: none;
    height: 50px;
}

.main-searchs .search-icon{
    position: absolute;
    font-size: 30pt;
    top: 2px;
    left: 10px;
    z-index: 1;
    bottom: 0
}

.main-searchs .remove-search-icon {
    position: absolute;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    top: 10px
}

.main-searchs .remove-search-icon, 
.main-searchs .search-icon{
    color: #c1bebe
}

/* ==============LABEL=========== */
.ant-form-item-label label {
    margin-bottom: 0
}

/* ================CA PANEL============ */
.ca-penel-v1 {
    background-color: #FAFAFA;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    line-height: 26px;
    padding: 5px
}

/* ============CA BUTTON =========== */
.ca-button-v1 {
    height: 43px;
    font-size: 11.25pt !important
}

.ca-icon-delete {
    font-size: 18pt;
    color: #093163;
    cursor: pointer
}

.ca-icon-delete:hover {
    color: #B90000
}

.notation-textfield {
position: absolute !important;
right: 0;
margin-right: 5px;
color: #4D4F5C;
}

.clearFloat {
    clear: both;
}

.ant-layout.ant-layout-has-sider {
    height: 100% !important;
    position: fixed !important;
    width: 100% !important;
}

.ant-layout-content {
    padding: 15px;
    background:#F7F7F7;
    margin-left: 90px;
    z-index: 0;
    margin-top: 62px;
    display: flex;
    height: 100%
}

.content-list {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column */
}

.ant-layout {
    background:#F7F7F7;
    height: 100%;
    position: relative
    
}

.ant-layout-sider-children .logo {
    min-height: 81px;
    background-color: #093163;
}

.ant-layout-header {
    line-height: normal !important;
    width: 100%;
}

.ant-collapse > .ant-collapse-item {
    border: none;
}

.hidden {
    display: none
}

/* INPUT UPLOAD */
.main-upload .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto
}

/* WRAP SELECT*/
.wrap-select-search ul.ant-select-dropdown-menu li.add-new-item {
    color: #57A600;
    position: absolute;
    width: 100%;
    z-index: 9
}

.wrap-select-search ul.ant-select-dropdown-menu li span {
    font-weight: bold
}

.wrap-select-search ul.ant-select-dropdown-menu li:nth-child(2) {
    margin-top: 35px
}

.ant-select-selection-selected-value .not-for-selected {
    display: none
}

.wrap-select-search .ant-select-dropdown-menu {
    min-height: 35px
}

/* MODAL */
.modal-fix-footer,
.modal-fix-footer .ant-modal,
.modal-fix-footer .ant-modal .ant-modal-content,
.modal-fix-footer .ant-modal .ant-modal-body,
.modal-fix-footer .ant-modal .ant-modal-body form,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs-content,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs-content .tabpanel {
    height: 100%
}

.modal-fix-footer .ant-modal .ant-modal-body,
.modal-fix-footer .ant-modal .ant-modal-content,
.modal-fix-footer .ant-modal .ant-modal-body form,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs-content {
    display: flex
}

.modal-fix-footer .ant-modal .ant-modal-content, 
.modal-fix-footer .ant-modal .ant-modal-body,
.modal-fix-footer .ant-modal .ant-modal-body form,
.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs {
    flex-direction: column
}

.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs .ant-tabs-bar {
    margin-bottom: 0
}

.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs {
    padding-left: 15px
}

.modal-fix-footer .ant-modal .ant-modal-body {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.modal-fix-footer .ant-modal .ant-modal-body form .ant-tabs-content .ant-tabs-tabpane {
    overflow: hidden auto;
    padding-right: 10px;
    padding-top: 10px
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  
.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

.ant-modal-content {
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}

.confirm-delete .ant-modal-content .ant-modal-body {
    padding-top: 15px !important
}

.ant-modal-header,
.ant-modal-footer {
    text-align: center
}

.ant-modal-footer,
.ant-modal-header {
    border: none
}

.ant-modal-title{
    font-size: 15pt;
    text-transform: uppercase;
    color: #4D4F5C;
    font-weight: 500    
}

.ant-modal-close-x {
    font-size: 25pt
}

.confirm-delete .ant-modal-close-x {
    display: none
} 

.ant-alert.ant-alert-no-icon {
    margin-bottom: 15px
}

.ant-modal-footer .ant-btn {
    min-width: 110px
}

.ant-modal-wrap {
    overflow: hidden !important
}

.ant-modal {
    padding-bottom: 0 !important
}

.ant-modal-header {
    padding: 35px 24px !important
}

.ant-modal-footer {
    padding: 15px 16px !important
}

.ant-modal-body {
    padding: 0 25px !important
}

.ant-modal-footer {
    border-radius: 0 !important
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.37) !important
}

.modal-fix-footer .ant-modal-footer {
    background: #f7f7f7cc
}

/* SWITCH */
.wrap-switch {
    display: flex;
    align-items: center;
    padding-top: 25px
}

/* BUTTON ADD NEW ELEMENT */
.btn-addcontact button,
.btn-addcontact button:hover,
.btn-removecontact button,
.btn-removecontact button:hover {
    border: none;
    padding-left: 0;
    height: 0;
}

.btn-addcontact button span {
    color: #57A600
}

.btn-addcontact button span.icon-add {
    font-weight: 600
}

.btn-icon {
    padding: 8px 8px;
}

.btn-icon span {
    font-size: 14pt;
    position: relative;
    left: 2px;
}

.margin-left-8 {
    margin-left: 8px
}

.full-screen {
    /* position: fixed; */
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
}

.full-screen.ant-layout-content {
    padding: 0px
}

.ca-link {
    color: #008AE8 !important;
    cursor: pointer
}

.ca-link:hover {
    text-decoration: underline
}

/* SEARCH FILTER ON THE LIST*/
.wrap-filter {
    background-color: #ffffff !important;
    margin-bottom: 1rem;
    padding: 5px 15px 15px 15px;
    border-radius: 3px
}

/* UPLOAD IMAGE */
.ant-upload.ant-upload-select-picture-card {
    width: 100%;
    height: 180px
}

/* DATERANGE PICKER */
.ant-calendar-range-bottom .ant-calendar-range-quick-selector a {
    color: rgb(24, 144, 255) !important;
    background: rgb(230, 247, 255);
    border: 1px solid rgb(145, 213, 255);
    padding: 0px 7px;
    border-radius: 4px
}

#offline {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.37)
}

#offline .ant-alert-with-description {
    width: 320px;
    height: 120px;
    position: absolute;
    z-index: 11;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

#offline .ant-alert-with-description .ant-alert-icon {
    left: 10px
}

#wrap-no-permission {
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column
}


/*SHARE TOGETHER*/
.wrap-select-search ul.ant-select-dropdown-menu li.add-new-item,
#wrap-no-permission,
.table-wrapper {
    background-color: white
}