.main-radio .ant-radio-button-wrapper {
    height: 70px;
    width: 95px;	
    background-color: #FFFFFF;
    border: 1px solid #CDCCCC;
    border-radius: 0;
    margin-right: 3px;
}

.main-radio .ant-radio-button-wrapper {
    margin-right: 10px;
}

.main-radio .ant-radio-button-wrapper-checked::before {
    background-color: none !important;
}

.main-radio .ant-radio-button-wrapper-checked {
    box-shadow: -1px 0 0 0 #4D4F5C !important;
    border-left: none !important;
}

.main-radio .ant-radio-button-wrapper-checked {
    border: 1px solid #4D4F5C;
}

.main-radio .radio-group {
    text-align: center;
}

.main-radio .radio-title {
    color: #4D4F5C;
    font-size: 14pt;
    font-weight: 500;
}

.main-radio .language {
    font-size: 8pt;
    text-align: center;
    line-height: 12pt;
    color: #9A9A9A;
}


