.ant-table-body .ant-table-thead > tr > th {
    padding-top: 6px;
    padding-bottom: 6px
}

.wrap-income-exp-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px
}

.wrap-income-exp-box .ca-box {
    width: 49%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.wrap-income-exp-box .ca-box:first-child {
    margin-right: 10px
}
