

  .form-group,
  .focus-relative 
  {
    position: relative; 
  }

  .form-wrapper {
    margin-bottom: 15px; 
  }

  .form-wrapper .input-note-right {
    float: right;
    position: absolute;
    top: 10px;
    font-size: 12pt;
    color: #4D4F5C;
    right: 0;
  }

  .form-wrapper input {
      color: #D1D2D5;
      border-bottom: 1px solid #EAEAEA;
  }

  .focused {
    position: relative; 
  }

  .focused  .form-label{
    left: 0;
    top: -5px;
    color: #9A9A9A;
  }
 
  .focused input,.focus-relative input,
  .form-wrapper .form-group input
  {
    background-color: #f7f7f7 !important;
  }

  .form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    z-index: 1;
    font-size: 12pt;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }
  
  .focused .form-label {
    font-size: .75em;
  }
  
  .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #EAEAEA;
    transition: box-shadow 150ms ease-out;
  }
  