.export-csv-button {
    padding: 6px;
    background-color: #093163 !important;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    width: 120px;
    margin: 0;
    text-align: center;
    font-size: 10pt;    
    float: left;    
}

.export-csv-button a {
    color: white;      
}
