.menu-right {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: right
}

.menu-right li {
    padding: 0 15px;
    display: inline-block
}

.menu-right .user-account,
.ant-dropdown-menu li a {
    text-decoration: none
}

.menu-right .user-account {
    color: #9A9A9A !important
}

.menu-right .user-account .title,
.menu-right .user-account .icon-move-down {
    position: relative;
    top: -5px;

}

.ant-dropdown {
    /* top: 70px !important */
}

.ant-dropdown .ant-dropdown-menu,
.ant-popover-inner {
    border-radius: 0
}

.ant-popover.antd-pro-notice-icon-popover {
    top: 60px !important
}

.ant-popover-arrow {
    display: none
}

.icon-padding-right {
    padding-right: 5px
}

.icon-padding-left {
    padding-left: 5px
}

.icon-move-down {
    font-size: 10px
}

.icon-user,
.icon-bell,
.icon-help,
.icon-logout {
    font-size: 18pt
}

.anticon.anticon-bell {
    display: none
}

.ant-badge-count {
    top: -24px;
    left: 2px;
    background-color: #FE6006
}

.ant-dropdown-menu-item .title {
    position: relative;
    bottom: 5px
}

.language-icon {
    font-size: 20pt !important;
    position: relative;
    top: 2px
}