.wrap-client-login .main-signin {
    float: right;
}

.wrap-client-login .store-link {
    font-size: 10pt;
    color: #4D4F5C;
    text-decoration: underline;
    font-weight: 500;
}


.blog-register {
    margin-left: 250px;
    padding: 20px 30px;
    width: 377px !important;
}


.wrap-client-login .wrap-blog-logo,
.wrap-client-login {
    height: 359px !important;
}

.wrap-client-login .storename {
    color: #4D4F5C;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

/* .store-email  */