.wrap-client-login .main-signin {
    float: right;
    margin-top: 5px;
    margin-bottom: 15px
}

.wrap-client-login .store-link {
    font-size: 10pt;
    color: #4D4F5C;
    text-decoration: underline;
    font-weight: 500;
}

.wrap-client-login .main-field,
.wrap-client-login .signin-button
 {
    margin-top: 8px;
} 

.blog-register {
    margin-left: 257px;
    padding: 20px 25px;
    width: 377px !important;
}

.wrap-client-login .wrap-blog-logo,
.wrap-client-login {
    height: 400px;      
    width: 632px;
}


.wrap-client-login .storename {
    color: #4D4F5C;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.wrap-client-login .store-email {
    font-size: 12px;
    font-weight: 500;
}

.wrap-client-login .store-email .store-email-url {
    color: #CDCCCC;
}
