
.ant-select-selection--multiple .ant-select-selection__choice {
    border: 1px solid #FFD627 !important;
    background: #FFD627 !important;
    color: #4D4F5C
}

.wrap-select-search ul.ant-select-dropdown-menu li.add-new-item {
    color: #57A600;
    position: absolute;
    width: 90%;
    background-color: white;
    z-index: 9
}

.wrap-select-search ul.ant-select-dropdown-menu li span {
    font-weight: bold
}

.wrap-select-search ul.ant-select-dropdown-menu li:nth-child(2) {
    margin-top: 35px
}
