/* .form-group {
    position: relative;
}

.main-antselect label {
    color: #9A9A9A;
    font-size: 12pt;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;
}

.main-antselect select {
    color: #D1D2D5;
}

.main-antselect .ant-select-selection--single {
    height: 30px;
    background-color: #F7F7F7;
    border: none;
    border-bottom: 1px solid #EAEAEA;
}

.main-antselect label.focus-label {
    position: absolute;
    left: 0;
    top: -5px;
    font-size: 8pt;
}
 */


 .main-antselect label {
    font-size: 10pt;
    color: #9A9A9A;
 }

 ul.ant-select-dropdown-menu li:first-child {
    position: fixed;
    margin-bottom: 12px;
    color: #57A600 !important;
    background: white;
    z-index: 9;
 }

 ul.ant-select-dropdown-menu li:nth-child(2) {
    margin-top: 24px;
 }
