
.ant-table-content{
    margin-top: 15px;
    border-top: 0.5px solid #f1efef;
    border-radius: 3px
}

.ant-table-placeholder{
    padding: 10px 16px !important;
    border-bottom: none !important
}

.ant-table-body table tr th,
.ant-table-header table tr th {
    background-color: #fbfbfb;
    font-size: 10pt
}

tr:nth-child(odd) {
    background-color: #faf9f9;
}


.ant-table-expanded-row .ant-table table tbody tr:nth-child(odd) {
    background-color: rgb(255, 255, 255)
}

.ant-table-expanded-row .ant-table table tbody tr td {
    border-top: 0.5px solid #EAEAEA !important
}

.ant-table-expanded-row  td:last-child {
    padding-right: 0 !important
}

.ant-table-body table tr td {
    color: #4D4F5C;
    font-size: 10pt;
    font-weight: 400;
}

.ant-table-tbody > tr > td {
    border-bottom: none !important
}


.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
    padding-left: 15px !important;
    padding-right: 15px !important
}

.ant-table-footer .item {
    padding-right: 5px
}

.ant-table-body table tr th,
.ant-table-body-inner table tr th {
    text-transform: uppercase;
}

.ant-table-tbody > tr:hover > td {
    background: #95ddff1a !important;
}

tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover,
.ant-table-tbody > tr.ant-table-expanded-row:hover > td {
    background: white !important
}

.ant-table-expanded-row>td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sub-table .ant-table-content {
    margin-top: 0;
}


.ant-table-footer {
    text-align: right;
}

.hidden {
    display: none !important
}