
.ant-table-content{
    margin-top: 15px;
    border-top: 0.5px solid #f1efef;
    border-radius: 3px;
}

.ant-table-body table tr th {
    background-color: #F7F7F7; 
}

tr:nth-child(odd) {
    background-color: #faf9f9;
}

.ant-table-body table tr td {
    color: #4D4F5C;
    font-size: 8pt;
}

.ant-table-tbody > tr > td {
    border-bottom: none
}

.ant-table-tbody > tr > td {
    padding: 12px 16px !important
}

.ant-table-thead > tr > th {
    padding: 10px 16px !important;
}

.ant-table-body table tr th,
.ant-table-body-inner table tr th {
    font-size: 11pt;
    text-transform: uppercase;
}

.ant-table-tbody > tr:hover > td {
    background: #95ddff1a !important;
}

.ant-table-expanded-row>td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sub-table .ant-table-content {
    margin-top: 0;
}
