/* diagram */
.main-diagram {
    position: relative; 
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    height: auto !important;
    padding: 16px;
}

.main-doughnut-chart .doughnut-chart {
    background-color: white;
    padding: 10px;
}

.main-doughnut-chart > .row {
    padding: 14px !important;
}

.main-doughnut-chart .doughnut-chart-left {
    border-right: 7px solid #f7f7f7;
}

.main-doughnut-chart .doughnut-chart-right {
    border-left: 7px solid #f7f7f7;
}






