/* diagram */
.main-diagram {
    position: relative; 
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    height: auto !important;
    padding: 16px;
}

.main-doughnut-chart .doughnut-chart {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid white;
}

.main-doughnut-chart > .row {
    padding: 14px !important;
}

.main-doughnut-chart .doughnut-chart-right {
    border-left: 14px solid #f7f7f7;
}

.main-doughnut-chart .no-pie-chart-image img{
    width: 320px;
    background-color: white;
}

.main-doughnut-chart .title-pie-chart {
    font-size: 10.5pt;
    text-transform: uppercase;
    color: #4D4F5C;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 500
}

.main-doughnut-chart .no-pie-chart-image .text-chart-no-data {
    text-align: center;
    margin-top: 157px;
    font-weight: 500;
}

@media only screen and (max-width: 900px) { 
    .main-diagram canvas {
        height: 265px !important;
    }
}

@media only screen and (max-width: 800px) {
    .main-doughnut-chart .no-pie-chart-image img {
        position: inherit;
        top: 0px;
    }

    .main-doughnut-chart .doughnut-chart-left {
        margin-bottom: 12px;
    }

    .main-doughnut-chart .doughnut-chart-right {
        border-left: none;
    }

    /* pie chart */
    .main-doughnut-chart .no-pie-chart-image img {
        height: 250px !important;
    }

}
