.dashboard ul {
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: -15px;
}

.dashboard ul li {
    list-style-type: none;
    display: inline-block
}

.dashboard ul li h4 {
    margin-bottom: 0
}



