#purchase-report-dashboard .footer {
    display: flex;
    justify-content: flex-end
}

#formSearchHeaderOnReportPurchase .ant-input-search {
    width: 280px;
}

.tfoot-colspan {
    background-color: rgb(255, 255, 255);
    border: none !important;
}