.dynamic-delete-button {
    color: red;
}

tr.ant-table-expanded-row td {
    background-color: white;
}

.wrap-contact {
    margin-bottom: 15px;
}

.wrap-contact h6 {
    margin-bottom: 0
}

.btn-removecontact button span {
    color: red
}

.line-contact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.standard-product-row .ant-table-row-expand-icon-cell .ant-table-row-expand-icon {
    display: none
}
