.wrap-customer,
.wrap-customer .ant-modal,
.wrap-customer .ant-modal .ant-modal-content,
.wrap-customer .ant-modal .ant-modal-body,
.wrap-customer .ant-modal .ant-modal-body form,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs-content,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs-content .tabpanel {
    height: 100%
}

.wrap-customer .ant-modal .ant-modal-body,
.wrap-customer .ant-modal .ant-modal-content,
.wrap-customer .ant-modal .ant-modal-body form,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs-content {
    display: flex
}

.wrap-customer .ant-modal .ant-modal-content, 
.wrap-customer .ant-modal .ant-modal-body,
.wrap-customer .ant-modal .ant-modal-body form,
.wrap-customer .ant-modal .ant-modal-body form .ant-tabs {
    flex-direction: column
}

.wrap-customer .ant-modal .ant-modal-body form .ant-tabs {
    padding-left: 15px
}

.wrap-customer .ant-modal .ant-modal-body {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.wrap-customer .ant-modal .ant-modal-body form .ant-tabs .ant-tabs-bar {
    margin-bottom: 0
}

.wrap-customer .ant-modal .ant-modal-body form .ant-tabs-content .ant-tabs-tabpane {
    overflow: hidden auto;
    padding-right: 10px;
    padding-top: 10px
}

.dynamic-delete-button {
    color: red;
}

tr.ant-table-expanded-row td {
    background-color: white;
}

.wrap-contact {
    margin-bottom: 15px;
}

.wrap-contact h6 {
    margin-bottom: 0
}

.btn-removecontact button span {
    color: red
}

.line-contact {
    margin-top: 5px;
    margin-bottom: 5px;
}
