.main-switch {
    line-height: 1
}

.main-switch .ant-form-item,
.main-switch .ant-form-item-control {
    line-height: 0
}

.main-switch .ant-form-item-label label { 
    position: absolute; 
    color: #4D4F5C;
    left: 53px;
    top: 00px;
}

.main-switch .ant-switch-checked {
    background-color: #093163;
}