.color,
.wrap-card .card-footer a,
.wrap-card .price,
.wrap-card .total   
{
    color: #9A9A9A;
}

.wrap-card {
    margin-bottom: 10px
}

.wrap-card .block-icon {
    text-align: right;
}

.wrap-card .card {
    border: 1px solid #eae8e89c
}

.wrap-card .card .card-body{
    height: 110px;
    display: inherit;
    padding: 10px 15px
}

.card-body .card-text {
    display: table-cell;
    vertical-align: middle

}

.card-body .card-text .wrap-content{
    display: flex;
    line-height: 25px;
}

.wrap-card [class^="icon-"] {
    color: #0D62AF; 
}

.wrap-card .card-footer a {
    text-transform: uppercase;
}

.wrap-card .card {
    border-radius: 3px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: auto;
}

.wrap-card .card .block-text {
    margin-left: 10px
}

.wrap-card [class^="icon-"]
 {
    font-size: 40pt
}

.wrap-card .card-footer a
{
    font-size: 10pt;
    text-decoration: none
}

.wrap-card .total
{
    font-size: 11pt;
}

.wrap-card .price {
    font-weight: 500;
    font-size: 24pt;
}

.wrap-card .card-footer {
    text-align: center;
    background-color: white;
    padding: 5px 10px;
}

.wrap-card .card-footer a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .wrap-card .card .card-body {
        margin: 0 auto !important;
    }
    .card-body .card-text .wrap-content {
        margin-top: 18px;
    }
}