.color,
.main-home-page span.icon,
.main-home-page .card-footer a  
{
    color: #0D62AF;
}

.main-home-page .card {
    border-radius: 0px;
}

.main-home-page span.icon
 {
    font-size: 60px;
}

.main-home-page .total{
    font-size: 16px;
}

.main-home-page .price {
    font-weight: bold;
    font-size: 32px;
}

.main-home-page .card-footer {
    text-align: right;
    background-color: white;
}

.main-home-page .card-footer a {
    font-weight: bold;
    text-transform: uppercase;
}