.blog-register {
    margin-left: 257px;
    padding: 20px 25px;
    width: 377px !important;
}

.wrap-client-register {
    height: 500px !important;
    width: 632px !important;
}

.wrap-client-register .wrap-blog-logo {
    height: 500px !important;
}

.blog-register .wrap-help {
    position: relative !important;
    top: 15px !important;
    color: #9A9A9A !important;
}

