.main-row-role-access {
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: white
}

.ant-collapse-item {
    position: relative;
}

.main-role-access .ant-checkbox-group .ant-checkbox-group-item {
    display: table !important;
    padding: 7px 10px !important;
}

.main-role-access .ant-collapse-header i {
    color: #093163;
    font-weight: bold;
}

.main-role-access .ant-collapse-header {
    border-bottom: 1px solid white;
    background-color: #FAFAFA !important;
} 

.main-role-access .ant-collapse-content {
    border-top: none !important;
}

/* input text */
.main-role-access input {
    width: 100%;
    padding-left: 50px;
    border: 1.5px solid #ECECEC;
    padding: 10px;
    padding-left: 35px !important;
}

.main-role-access input {
    border-radius: 0;
    height: auto;
}

.main-role-access button.save-button {
    position: relative;
    top: 10px;
    width: 119px;
}

.main-role-access .ant-checkbox-wrapper {
    text-transform: capitalize !important
}

.groupCheckAccessRole {
    position: absolute;
    top: 10px;
    left: 15px;
}

.childPrivilegeItem  {
    padding-top: 10px
}

.main-role-access .icon-search {
    top: 12px;
    left: 10px;
    font-size: 17pt
}

.main-role-access .ant-collapse-item:last-child {
    margin-bottom: 20px;
} 

