.main-row-role-access {
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: white
}

.ant-collapse-item {
    position: relative;
} 

.main-role-access .ant-input:hover {
    border-left: 2px solid #BCBCCB !important
}

.main-role-access .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
    left: auto;
    right: 10px;
}

.main-role-access .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 0 12px 40px !important;
    font-size: 9pt;
    color: #4D4F5C;
    font-weight: 500;
}

.main-role-access .ant-collapse {
    padding: 8px;
    background-color: white;
}

.main-role-access .ant-checkbox-group .ant-checkbox-group-item {
    display: table !important;
    padding: 7px 10px !important;
}

.main-role-access .ant-collapse-header i {
    color: #093163;
    font-weight: bold;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding-top: 1
}

.main-role-access .ant-collapse-header {
    border-bottom: 1px solid white;
    background-color: #FAFAFA !important;
} 

.main-role-access .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 40px
}

.main-role-access .ant-collapse-content {
    border-top: none !important;
}

.main-role-access .ant-collapse {
    border: 1px solid #ECECEC;
    border-radius: 0;
}

/* input text */
.main-role-access input {
    border: none;
    width: 100%;
    padding-left: 50px;
}

.main-role-access input {
    border-left: 2px solid #BCBCCB; 
    border-radius: 0;
    height: 40px;
}

.main-role-access button.save-button {
    position: relative;
    top: 10px;
    width: 119px;
}

.ant-checkbox-wrapper {
    text-transform: capitalize !important
}

.groupCheckAccessRole {
    position: absolute;
    top: 10px;
    left: 15px;
}

.childPrivilegeItem  {
    padding-top: 10px
}

.main-row-role-access .table-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.main-role-access .icon-search {
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 35px;
    font-size: 15pt;
    color: #BCBCCB
}

.main-role-access {
    margin-top: 85px
}