/* .customerBlog .btn-addcontact button,
customerBlog .btn-addcontact button:hover {
    border: none;
    color: #57A600 !important;  
    font-weight: bold;
    font-size: 17px;
} */

customerBlog .btn-addcontact span.icon-add {
    margin-left: -16px;          
}


/* extend subtable */
customerBlog .sub-table tr:nth-child(odd) {
    background-color: #FBFBFB;
}

customerBlog tr.ant-table-expanded-row > td:first-child {
    border-left: 2px solid #0D62AF !important;
}    

.dynamic-delete-button {
    color: red;
}


/* .main-management-customer ul.ant-select-dropdown-menu li:first-child {
    position: fixed;
    margin-bottom: 12px;
    color: #57A600 !important;
    background: white;
    z-index: 9;
} */

tr.ant-table-expanded-row td {
    background-color: white;
}

.wrap-contact {
    margin-bottom: 15px;
}

.wrap-contact h6 {
    margin-bottom: 0
}

.btn-removecontact button span {
    color: red
}

.line-contact {
    margin-top: 5px;
    margin-bottom: 5px;
}
