.blog-register {
    margin-left: 250px;
    padding: 20px 30px;
    width: 377px !important;
}

.wrap-client-register-detail {
    height: 800px !important;
    width: 632px !important;
}

.wrap-client-register-detail .wrap-blog-logo {
    height: 800px !important;
}

.blog-register .wrap-help {
    position: relative !important;
    top: 15px !important;
    color: #9A9A9A !important;
}

.wrap-client-login .clear-padding-col {
    padding-right: 0px !important;
}