#retail-sale #wrap-payment .create-quotation-action button { 
    width: 100%;
    font-size: 15pt;
    height: auto;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 0px;
    margin-right: -1px;
    margin-top: 10px;
}

.action_create_quotation {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.action_create_quotation button.process_step {
    background-color: #1890FF !important;
    color: white;
    width: 121px;
}

.action_create_quotation button.complete_step {
    background-color: #52C41A !important;
    color: white;
    width: 121px;
}

.action_create_quotation button.cancel_step {
    background-color: #F5222D !important;
    color: white;
}