

.main-guide {
    display: inline-block;
    width: 1461px
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; */
}

.main-guide-font-size,
.main-guide .row ul li span.arrow,
.main-guide .row ul li span.arrow-down  
{
    font-size: 37pt;
}

.main-guide .row ul li {
    float: left;
    list-style-type: none;
    color: #14b8a6;
    margin-right: 27px;
    text-align: center;
    text-transform: uppercase;
}

.main-guide .row ul li a{
    color: #14b8a6;
    text-decoration:  none;
}

.main-guide .row ul li span.arrow {
    color: #BCBCCB;
    position: relative;
    top: 22px;
}

.main-guide .row ul li .grap-title {
    color: #14b8a6;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}

.main-guide .row ul li a {
    font-size: 36pt;
}

.main-guide-icon,
.main-icon-top,
.main-icon-buttom
{
    width: 100%;
    margin: 0 auto;
}

.main-guide-icon  ul,
.main-icon-top,
.main-icon-buttom
{
    display: flex;
}

.main-guide ul {
    width: 100%;
    margin: 0 auto;
}

.main-guide .row ul li span.arrow-down {
    color: #BCBCCB;
}

.main-guide .main-arrow-down ul
{
    margin-left: 448px;
}

.main-guide .main-arrow-down ul li {
    margin-right: 154px;
}

.main-guide .main-arrow-down ul li:last-child {
    margin-left: 207px;
}   

.main-icon-buttom ul {
    margin-left: 394px;
}

.main-icon-buttom ul li {
    margin-right: 90px !important;
}

.main-icon-buttom ul li:last-child {
    margin-left: 21%;
} 


.main-icon-top ul {
    margin-left: 388px;
}

.main-icon-top ul li:last-child {
    margin-left: 27%;
    float: left;
}

.main-icon-top,
.main-guide-icon
{
    margin-bottom: 35px;
}


@media only screen and (max-width: 1800px) {
    .main-guide {
        zoom: 80%;
    }
}


@media only screen and (max-width: 1350px) { 
    .main-icon-buttom ul {
        margin-left: 334px;
    }
    .main-icon-buttom ul li:last-child {
        margin-left: 21%;
    }
    .main-guide {
        zoom: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .main-guide {
        zoom: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .main-guide {
        zoom: 29%;
    }
} 


