#retail-sale {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between
}

#retail-sale .category,
#retail-sale .product,
.product-variant .variant-box .variant-item {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    /* border: 1.5px solid #ECECEC */
}

#retail-sale .category,
#retail-sale .product,
#retail-sale .wrap-category {
    border-radius: 3px
}

#retail-sale .wrap-category {
    overflow: auto;
    margin-bottom: 15px;
    height: 68px;
    flex: none
}

.wrap-dropdown-search-product {
    width: 390px
}

#retail-sale #left-block .wrap-category,
#retail-sale #left-block .wrap-product-box-list {
    padding: 5px;
    background-color: #FAFAFA;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3)
}

#retail-sale #left-block .wrap-product-box-list .start-up{
    position: relative
}

#retail-sale .wrap-receipt-type {
    flex: none
}

#retail-sale .wrap-receipt-type .receipt-type{
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px
}

#retail-sale .wrap-receipt-type .receipt-type .current-receipt,
#retail-sale .wrap-receipt-type .receipt-type .park-receipt {
    color: #9A9A9A;
    cursor: pointer;
    font-weight: 500
}

#retail-sale .wrap-receipt-type .receipt-type .park-receipt {
    padding-left: 15px
}

#retail-sale .wrap-receipt-type .receipt-type .selected,
#retail-sale .wrap-receipt-type .receipt-type .park-receipt:hover,
#retail-sale .wrap-receipt-type .receipt-type .current-receipt:hover {
    color: #093163;
    font-weight: 500
}

#retail-sale .wrap-receipt-type .receipt-type,
#retail-sale .category
{
    font-size: 10.5pt
}

#retail-sale .category,
#retail-sale .product-box {
    text-align: center
}

#retail-sale .category {
    color: #4D4F5C;
    line-height: 50px;
    height: 50px;
    font-weight: 500;
    text-transform: uppercase
}

#retail-sale .category,
#retail-sale .product {
    background-color: white;
    position: relative
}

#retail-sale .product {
    height: 160px;
    padding: 5px;
    border: 1.5px solid white
}


#retail-sale .category-box,
#retail-sale .product-box,
.wrap-product-varaint .product-variant .variant-box {
    padding: 5px !important
}

#retail-sale .category.selected,
#retail-sale .category:hover {
    color: #FFFFFF;
    background-color: #0D62AF;
    border: 1px solid #0D62AF
}

#retail-sale .product.selected,
#retail-sale .product:hover,
.product-variant .variant-box .variant-item:hover
 {
    border: 1.5px solid #0D62AF;
    box-shadow: 0 0 3px 2px rgba(0,138,232,.35);
    border-color: #008ae8;
}

#retail-sale .product-box .product .image {
    /* height: 82px; */
    /* margin-bottom: 22px; */
    margin-bottom: 10px;
    overflow: hidden
}

#retail-sale .product-box .product .image img {
    height: 100%;
    border-radius: 3px
}

#retail-sale .product-box .product .name {
    font-size: 10pt;
    color: #4D4F5C
}

#retail-sale .product-box .product .price {
    font-size: 12pt;
    font-weight: 500;
    background-color: #0070e6;
    color: white;
    margin-top: 2px;
    border-radius: 3px
}


#retail-sale .main-searchs .ant-form-item {
    margin-bottom: 0
}

#retail-sale .main-searchs .search-icon {
    font-size: 22pt;
    top: 8px;
    padding-left: 10px
}

#retail-sale .main-searchs .remove-search-icon {
    font-size: 18pt;
    top: 10px;
    padding-right: 8px
}

#retail-sale .search-dropdown-product {
    margin-top: 10px
}

#retail-sale .product-order-list .product-order-item {
    padding: 5px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ECECEC;
}

#retail-sale .product-order-list .product-order-item .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #093163;
    padding: 10px 0
}

#retail-sale .product-order-list .product-order-item .description {
    display: flex;
    flex-direction: column;
    flex: 1
}

#retail-sale .product-order-list .product-order-item .detail-row-1 input {
    text-align: right
}

#retail-sale .product-order-list .product-order-item .epxand-icon {
    width: 30px;
    font-size: 8pt
}

#retail-sale .product-order-list .product-order-item .name,
#retail-sale .product-order-list .product-order-item .quantity,
#retail-sale .product-order-list .product-order-item .price,
#retail-sale .product-order-list .product-order-item-detail .ant-form-item-label label,
#retail-sale .product-order-list .product-order-item-detail input {
    font-size: 11pt;
    font-weight: 600;
    color: #093163
}

#retail-sale .product-order-list .product-order-item-detail input {
    font-weight: 400
}

#retail-sale .product-order-list .product-order-item .barcode-number {
    font-size: 7pt;
}

#retail-sale .product-order-list .product-order-item .price {
    margin-left: 25px;
    position: relative
}

.price .strike-price {
    font-size: 8.5pt;
    font-weight: 400;
    position: absolute;
    top: 15px;
    text-decoration: line-through
}

.variant-name {
    width: fit-content;
    background-color: #57A600;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 7pt
}

#retail-sale .delete {
    font-size: 18pt;
    color: #093163;
    margin-left: 25px
}

#retail-sale .delete:hover {
    color: #B90000;
    cursor: pointer
}

#retail-sale .product-order-list .product-order-item-detail {
    display: none;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 25px; */
    padding: 0 0;
    margin-top: 5px;
    height: 0;
    opacity: 0;
    transition: height .1s
}

#retail-sale .product-order-list .product-order-item.expanded {
    border-left: 4px solid #0D62AF;
    overflow: hidden
}

#retail-sale .product-order-list .product-order-item.expanded .product-order-item-detail{
    display: block;
    opacity: 1;
    height: fit-content;
    margin-bottom: 10px
}

#retail-sale .product-order-list .product-order-item-detail .detail-row-1 {
    display: flex
}

#retail-sale .product-order-list .product-order-item-detail .detail-row-1 .detail-inventory{
    font-size: 7pt;
    color: #B90000
}

#retail-sale .product-order-list .product-order-item-detail .detail-row-1 .detail-inventory span {
    font-size: 10pt
}

#retail-sale .product-order-list .product-order-item-detail .detail-row-1 .order-quantity {
    width: 90px
}

#retail-sale .product-order-list .product-order-item-detail .ant-form-item {
    margin-bottom: 0 !important;
    padding-right: 5px;
    padding-left: 5px
}

#retail-sale #left-block {
    display: flex;
    flex-direction: column;
    height: 100%
}

#retail-sale #left-block .wrap-product-box-list {
    overflow: auto;
    height: 100%;
    align-content: flex-start
}

#retail-sale #right-block {
    flex-direction: column;
    display: flex;
    height: 100%;
    padding-right: 0
}

#retail-sale #right-block #wrap-cashier {
    margin-bottom: 6px;
    display: flex
}

#retail-sale #right-block #wrap-cashier .current-cashier {
    padding-left: 5px
}

#retail-sale #right-block #search-information {
    flex: none
}

#retail-sale #right-block .product-order-list {
    height: 100%;
    overflow: hidden auto;
    margin-top: 10px;
    border: 1.5px solid #ECECEC;
    border-radius: 3px;
    margin-bottom: 10px
}

#retail-sale #wrap-payment .payment {
    background-color: #FAFAFA;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    padding: 5px 0px;
    line-height: 26px;
    overflow-y: hidden;
    overflow-x: auto;
}

#retail-sale #wrap-payment .payment .sub-total{
    display: flex;
    justify-content: space-between
}

#retail-sale #wrap-payment .payment .sub-total .remove-discount {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9;
    margin-left: 5px
}

#retail-sale #wrap-payment .payment .sub-total-title {
    font-size: 11pt;
    font-weight: 500;
    color: #4D4F5C
}

#retail-sale #wrap-payment .payment .sub-total-value {
    font-size: 14pt;
    font-weight: 500;
    color: #4D4F5C
}

#retail-sale #wrap-payment .payment .grand-total .grand-total-title, 
#retail-sale #wrap-payment .payment .grand-total .grand-total-value,
#retail-sale #right-block #wrap-cashier {
    color: #093163;
    font-weight: 500
}

#retail-sale #wrap-payment .payment .grand-total .grand-total-value {
    font-size: 27pt;
    font-weight: 500;
}

#retail-sale #wrap-payment .payment-action {
    margin-top: 15px;
    justify-content: center
}

#retail-sale #wrap-payment .payment-action button{
    width: 48.5%;
    font-size: 15pt;
    height: auto;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px
}

#retail-sale #wrap-payment .add-discount {
    justify-content: end;
    color: #57A600;
    width: fit-content;
    cursor: pointer
}

#retail-sale #wrap-payment .add-discount .icon-add {
    font-weight: 600;
    line-height: 1.5
}

#retail-sale .product-box .out-of-stock {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: red;
    height: 20px;
    text-transform: uppercase;
    background-color: white;
    opacity: 0.5;
    font-weight: bold;
    margin: auto
}

.wrap-product-varaint .product-variant {
    min-height: 180px
}

.wrap-product-varaint .product-variant .variant-item {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 3px;
    font-weight: 500
}

.product-variant {
    padding-top: 20px
}

.product-variant .start-up {
    position: initial !important
}

.product-variant .ant-modal-title {
    margin-bottom: 5px;
    text-transform: none
}

.variant-breadcrumb .ant-breadcrumb-link{
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65)
}

.variant-breadcrumb .ant-breadcrumb-link.current {
    text-decoration: underline
}

.wrap-product-varaint .ant-modal-body {
    padding-bottom: 25px !important
}

.wrap-product-varaint .product-variant .variant-breadcrumb{
    margin-bottom: 10px;
    padding-left: 5px
}

/* .wrap-order-discount {
    text-align: left
} */

.wrap-order-discount .ant-modal-close-x {
    display: none
}

.wrap-order-discount .ant-modal-body {
    padding: 15px !important
}

.wrap-order-discount .order-discount .title {
    border-bottom: 1.5px solid #ECECEC;
    padding-bottom: 15px;
    color: #4D4F5C;
    font-weight: 600;
    font-size: 11pt
}

.wrap-order-discount .order-discount .wrap-discount-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-type {
    display: flex
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-type .item {
    font-size: 11.25pt;
    padding: 12px 20px;
    border: 1.5px solid #ECECEC;
    cursor: pointer
}

.wrap-order-discount .order-discount .wrap-discount-value .ant-input-number-input {
    font-size: 11.25pt;
    text-align: right
}

.wrap-order-discount .order-discount .wrap-discount-value .ant-input-number {
    width: 150px !important
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-type .item:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-type .item:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: none
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-type .item.selected {
    border: 1.5px solid #0d62af
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value {
    position: relative
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value .amount-placeholder,
.wrap-order-discount .order-discount .wrap-discount-value .discount-value .percentage-placeholder {
    position: absolute;
    top: 14px;
    z-index: 1;
    font-size: 11.25pt
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value .amount-value-type .ant-input-number-input {
    padding-right: 10px
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value .amount-placeholder {
    left: 10px
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value .percentage-value-type .ant-input-number-input {
    padding-right: 22px
}

.wrap-order-discount .order-discount .wrap-discount-value .discount-value .percentage-placeholder {
    right: 8px
}

.wrap-order-discount .order-discount .text-about-discount {
    font-size: 9pt;
    margin-top: 15px;
    color: #4D4F5C
}

.wrap-order-discount .ant-form-item {
    margin-bottom: 0 !important
}

.wrap-order-discount .ant-modal-body .ant-modal-footer {
    padding-bottom: 0 !important
}

.wrap-order-discount .order-discount .arrow-right{
    /* right: 0;
    top: 50%;
    margin-right: -6px;
    margin-top: -6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 2px -1px 1px rgba(0,0,0,.35);
    box-sizing: border-box;
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #FFF;
    transform: rotate(45deg) */
}

.wrap-order-discount button {
   height: 45px
}