.pos-payment .sale-summary {
    display: flex;
    flex-direction: column;
    height: 100%
}

.pos-payment .sale-summary {
    padding-top: 30px;
    padding-bottom: 15px
}

.pos-payment .sale-summary>.title {
    border-bottom: 2px solid #093163;
    padding-bottom: 5px;
    width: 140px
}

.pos-payment .sale-summary>.title,
.pos-payment .grand-total .grand-total-title{
    letter-spacing: 1.5px;
    color: #093163;
    font-weight: 700
}

.pos-payment .sale-summary>.title,
.pos-payment .grand-total .grand-total-title,
.pos-payment .grand-total .grand-total-value {
    font-size: 11.25pt
}

.pos-payment .sale-summary .list-order-summary {
    display: flex;
    flex-direction: column;
    height: 100%
}

.pos-payment .sale-summary .list-order-summary ul {
    height: 100%;
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    border-radius: 3px
}

.pos-payment .sale-summary .list-order-summary li {
    padding: 10px 0
}

.pos-payment .sale-summary .total-order-summary {
    margin-bottom: 15px
}

.pos-payment .sale-summary .total-order-summary li.tax-item {
    padding-left: 15px
}

.pos-payment .sale-summary .total-order-summary li,
.pos-payment .sale-summary .grand-total li {
    border-bottom: 1px solid #ECECEC
}

.pos-payment .sale-summary .total-order-summary li:last-child,
.pos-payment .sale-summary .grand-total li:last-child {
    border: none
}

.pos-payment .sale-summary ul {
    padding: 5px 15px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 0
}

.pos-payment .sale-summary ul li {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px
}

.pos-payment .sale-summary ul li .title {
    flex: 1
}

.pos-payment .sale-summary ul li .title,
.pos-payment .sale-summary ul li .quantity,
.pos-payment .sale-summary ul li .price,
.pos-payment .sale-summary ul li .sub-total-title,
.pos-payment .sale-summary ul li .sub-total-value,
.inner-customer-credit-info .data-row {
    font-size: 11.25pt;
    color: #093163;
    font-weight: 400
}

.pos-payment .sale-summary ul li .price {
    padding-left: 15px;
    position: relative
}

.pos-payment .grand-total .grand-total-value {
    font-size: 13.5pt;
    color: #093163;
}

.pos-payment .grand-total .wrap-grand-total-title {
    display: flex
}

.pos-payment .grand-total .total-quantity {
    margin-left: 10px;
    font-size: 9pt;
    color: #093163
}

.pos-payment .payment-tool>.title {
    padding-right: 30px
}

.pos-payment .payment-tool>.title,
.pos-payment .confirm-payment .title {
    font-size: 25pt;
    color: #093163
}

.pos-payment .payment-tool .amount-to-pay {
    display: flex;
    justify-content: center;
    align-items: center
}

.pos-payment .payment-tool .amount-to-pay input {
    text-align: right;
    font-size: 20pt;
    font-weight: 600;
    height: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-family: serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-width: 0.5px
}

.pos-payment .payment-tool .amount-to-pay .ant-form-item {
    margin-bottom: 0 !important;
    width: 250px
}

.pos-payment .payment-tool .amount-to-pay .ant-form-explain {
    position: absolute;
    top: 100%;
    margin-top: 5px
}

.pos-payment .payment-tool .action-button-to-pay {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.pos-payment-paid .ant-modal-close-x {
    display: none
}

.pos-payment .payment-tool .action-button-to-pay button:hover {
    box-shadow: 0 0 3px 2px rgba(0,138,232,.35);
    border-color: #008ae8;
}

.pos-payment .payment-tool .action-button-to-pay button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.25pt;
    height: 58px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.pos-payment .payment-tool .action-button-to-pay button .anticon-loading{
    position: absolute;
    left: 60px
}

.pos-payment .wrap-payment-tool {
    min-height: 700px;
    padding-top: 30px
}

.pos-payment .ant-modal-body {
    padding: 0 15px !important
}

.pos-payment .ant-modal-content,
.pos-payment .ant-modal-body,
.pos-payment .ant-form,
.pos-payment .ant-form .row {
    height: 100%
}

.pos-payment .confirm-payment {
    max-width: 400px;
    margin: 0 auto
}

.pos-payment .confirm-payment .title {
    font-weight: 700;
    margin-bottom: 50px
}

.pos-payment .confirm-payment .wrap-email-receipt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.pos-payment .confirm-payment .wrap-email-receipt .ant-form-item {
    margin-bottom: 0 !important;
    width: 100%
}

.pos-payment .confirm-payment .wrap-email-receipt .ant-form-explain {
    position: absolute
}

.pos-payment .confirm-payment .complete-action {
    padding-top: 20px
}

.pos-payment .confirm-payment .complete-action button {
    width: 100%;
    height: 50px;
}

.btn-send-email-receipt {
    height: 43px
}

.currency-symbol-payment {
    width: 60px;
    border: 0.5px solid #ECECEC;
    border-right: 0;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 20pt;
    font-weight: 600;
}

.total-display {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: row
}

.value-total-display {
    margin-left: 5px;
    font-family: serif
}

.total-display .value-total-display,
.total-display .title-total-display {
    font-size: 20pt;
    color: #093163;
    font-weight: 600
}

.total-display .title-total-display {
    text-transform: uppercase;
    font-size: 16pt;
    letter-spacing: 1.5px
}

.separate-title-line {
    position: absolute;
    top: -10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto
}

.wrap-customer-credit-info {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%
}

.customer-credit-info {
    margin-top: 40px
}

.inner-customer-credit-info {
    padding: 10px;
    padding-top: 20px;
    border-radius: 3px;
    border: 1px solid #ECECEC;
    margin-top: 20px;
    position: relative
}

.inner-customer-credit-info .customer-info-title {
    width: fit-content;
    font-weight: 600;
    font-size: 11.25pt;
    color: #093163;
    background-color: white;
    position: absolute;
    top: -12px
}

.customer-reward-pos-modal .ant-modal-header {
    padding: 16px !important;
    background: #0D62AF;
}

.customer-reward-pos-modal .ant-modal-title {
    text-align: left;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.customer-reward-pos-modal .ant-modal-close-x {
    color: white;
}

.customer-reward-pos-modal .ant-checkbox-checked .ant-checkbox-inner {
    background-color: green;
    border-color: green;
}