@media print{
    img{
         display: inline;
         visibility: visible;
    }

    @page 
    {
        size: auto;
        margin: 0mm;
    }
}

table.invoice-title {
    width: 50%;
    position: relative;
    left: 128px;
}