@media print{
    img{
         display: inline;
         visibility: visible;
    }

    @page 
    {
        size: auto;
        margin: 0mm;
    }

    body {
        -webkit-print-color-adjust: exact;
     }

     /* table tr td {
         line-height: 1px;
     } */

}

table.invoice-title {
    width: 50%;
    position: relative;
    left: 128px;
}