.table-row-border th {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.table-row-border th, .table-row-border td {
  border: 1px solid #565656;
}

.input-installment-rate .ant-input-number-handler-wrap {
  display: none;
}

.drawer-payment-history .ant-drawer-body {
  padding-top: 5px;
}