.table-row-border th {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.table-row-border th, .table-row-border td {
  border: 1px solid #565656;
}

.input-installment-rate .ant-input-number-handler-wrap {
  display: none;
}

.drawer-payment-history .ant-drawer-body {
  padding-top: 6px;
}

#table-payment-history {
  width: 100%;
}

#table-payment-history tr {
  background: none;
}

#table-payment-history thead tr th, 
#table-payment-history tbody tr td {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

#table-payment-history tbody tr td {
  cursor: pointer;
}

#table-payment-history tbody tr:hover {
  color: #0056b3;
}

#table-payment-history tfoot tr td {
  padding: 5px 0;
  font-weight: 600;
}