
.main-profit-and-lost-report .revenuse-report {
    background-color:#EAEAEA;
}

.main-profit-and-lost-report .expense-report {
    background-color: #FAFAFA;
}

.main-profit-and-lost-report .net-income, 
.main-profit-and-lost-report .price 
{
    text-align: center;
    font-size: 9pt;
}

.main-profit-and-lost-report .ant-table-footer {
    background-color: #EAEAEA;
}

.report-button {
    margin-bottom: 20px;
}


.main-profit-and-lost-report .ant-table-footer {
    padding: 12px 16px !important;
}

.main-profit-and-lost-report  .ant-table-thead tr + tr {
    display: none;
}

.main-profit-and-lost-report tr:nth-child(odd) {
    background-color: white !important;
}

.main-profit-and-lost-report  tr td.profit-and-lost-column {
    color: #9A9A9A;
    font-size: 10pt;
}

.main-profit-and-lost-report  tr td.profit-and-lost-price,
.main-profit-and-lost-report  tr th {
    border-right: 1px solid #EAEAEA !important;
}

