#sidebar {
    padding-top: 50px;
    background-image: url("../styles/images/sidebar-bg.jpg");
    background-size: 116px;
    width: 80px;
    position: fixed;
    height: 100%;
    z-index: 1
}

#sidebar .line {
	border-bottom: 1px solid #FFFFFF;
    width: 35px;
    margin: 0 auto;
	display: none
}

#sidebar>ul {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px
}

#sidebar>ul li.active a {
    color: #FFD627
}

#sidebar>ul li:hover,
#sidebar>ul li.hover {
    background-color: white;
    margin-left: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: margin-left 0.1s;
    -khtml-transition: margin-left 0.1s;
    -moz-transition: margin-left 0.1s;
    -ms-transition: margin-left 0.1s;
    transition: margin-left 0.1s;
}

#sidebar>ul>li:hover a,
#sidebar>ul>li.hover a {
    color: #093163
}

#sidebar ul li a {
    text-decoration: none
}

#sidebar>ul>li a {
    color: white;
    display: block
}

#sidebar>ul>li>a {
    padding: 10px 10px
}

#sidebar>ul li a span {
    font-size: 27pt
}

#sidebar #sum-menu {
    width: 235px;
    height: 600px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    box-shadow: 2px 2px 3px -2px rgba(0,0,0,.15);
    top: 71px;
    z-index: 9999;
    left: 100%;
    background-color: white
}

#sum-menu ul {
    padding-top: 7px
}

#sum-menu ul li .add-new-btn {
    display: none;
}

#sum-menu ul li a {
    color: #9A9A9A;
    display: block;
    padding: 10px 10px
}

#sum-menu div.title,
#sum-menu ul li {
    font-weight: 500;
}

#sum-menu ul li {
    font-size: 14.5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#sum-menu ul li:hover {
    background-color: #f4f4f4;
}

#sum-menu ul li:hover > .add-new-btn {
    display: block;
}

#sum-menu ul li a [class^="icon-"] {
    font-size: 14pt
}

#sum-menu ul li a .item {
    display: inline-block
}

#sum-menu ul li a .icon {
    width: 30px;
    top: 2px;
    position: relative
}

#sum-menu ul li a .item-text {
    text-transform: capitalize;
    position: relative;
    left: 10px;
    top: -2px;
}

#sum-menu div.title {
    border-bottom: 1px solid #ECECEC;
    color: #9A9A9A;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar .hidden {
    display: none;
    transition: display 0.1s;
}

#sidebar .show {
    display: block;
    transition: display 0.1s;
}

#version {
    font-size: 10pt;
    color: #FFFFFF;
    position: absolute;
    top: 97%;
    left: 25px;
}