#sidebar {
    padding-top: 70px;
    background-image: url("../styles/images/sidebar-bg.jpg");
    background-repeat-y: no-repeat;
    background-size: 116px;
    width: 90px;
    position: fixed;
    height: 100%;
    z-index: 1
}

#sidebar>ul {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px
}

#sidebar>ul li.active a span {
    color: #FFD627
}

#sidebar>ul li:hover {
    background-color: white
}

#sidebar>ul>li:hover a {
    color: #093163
}

#sidebar ul li a {
    text-decoration: none
}

#sidebar>ul>li a {
    color: white;
    display: block
}

#sidebar>ul>li {
    padding: 10px 10px
}

#sidebar>ul li a span {
    font-size: 18pt
}

#sidebar #sum-menu {
    width: 214px;
    height: 484px;
    position: absolute;
    box-shadow: 2px 2px 3px -2px rgba(0,0,0,.15);
    top: 71px;
    z-index: 1;
    left: 100%;
    background-color: white
}

#sum-menu ul {
    padding-top: 7px
}

#sum-menu ul li a {
    color: #9A9A9A
}

#sum-menu div.title,
#sum-menu ul li {
    font-weight: 500;
}

#sum-menu ul li {
    font-size: 10pt;
    padding: 7px 10px
}

#sum-menu ul li a [class^="icon-"] {
    font-size: 16pt
}

#sum-menu ul li a span.item-text {
    position: relative;
    left: 10px;
    top: -4px;
}

#sum-menu div.title {
    border-bottom: 1px solid #ECECEC;
    color: #9A9A9A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none
}

.show {
    display: block
}