.table-invoice {
  width: 100%;
}

.table-invoice tr {
  background: none;
}

.table-invoice-data {
  width: 100%;
  border: 2px solid;  
}

.table-invoice-data tr {
  height: 34px;
}

.table-invoice-data .entry-header th {
  padding: 6px;
}

.table-invoice-data tr th, .table-invoice-data tr td {
  border: 1px solid;
  font-size: 11pt;
}

.table-invoice-entry {
  width: 100%;
  margin-top: 20px;
}

.table-invoice td, 
.table-invoice-entry thead th,
.table-invoice-entry tbody td{
  padding: 6px;
}

.tax-table-invoice-entry-row th {
  padding: 6;
}

.tax-table-invoice-entry-row td {
  border-top: 0 !important;
  border-bottom: 0 !important;
  vertical-align: top;
}

.enty-note-column {
  margin-bottom: 0;
  font-size: 11pt;
  border: none;
  white-space: pre-wrap;
}

@media print {
  html, body {
    margin: 0;
  }
  .ant-layout-content {
    background: #FFFFFF;
    margin-left: 0;
    margin-top: 0;
  }

  .tooltipster-base.Balloon {
    display: none !important;
  }

  #sidebar,
  .ant-layout-header,
  .ant-page-header
  {
    display: none;
  }

  .invoice-page {
    padding: 0;
  }
}

.entry-column-note .wrap-textarea .ant-form-item-control-wrapper{
  width: 100%;
  padding-top: 0 !important;
}

.entry-column-amount .ant-table-header-column {
  margin-right: 12px;
}

.table-form-invoice-entry tbody {
  vertical-align: top;
}