#invoice-form .ant-input-number-disabled,
#invoice-form .ant-input-disabled {
  background: #FFFFFF;
  color: #565656;
}

#public-receipt-preview {
  width: 250mm;
  margin: auto;
  min-height: 297mm;
  background: #FFFFFF;
}

.table-invoice {
  width: 100%;
  border-collapse: collapse;
}

.table-invoice tr {
  background: none !important;
}

.table-invoice-data {
  width: 100%;
  border: 2px solid;  
  border-collapse: collapse;
}

.table-invoice-data tr {
  height: 34px;
}

.table-invoice-data .entry-header th {
  padding: 6px;
}

.table-invoice-data tr th, .table-invoice-data tr td {
  border: 1px solid;
  font-size: 11pt;
}

.table-invoice-entry {
  width: 100%;
  margin-top: 20px;
}

.table-invoice td, 
.table-invoice-entry thead th,
.table-invoice-entry tbody td{
  padding: 6px;
}

.tax-table-invoice-entry-row th {
  padding: 6;
}

.tax-table-invoice-entry-row td {
  border-top: 0 !important;
  border-bottom: 0 !important;
  vertical-align: top;
}

.entry-note-column {
  margin-bottom: 0;
  font-size: 11pt;
  border: none;
  white-space: pre-wrap;
  font-family: enfont,khfont !important;
}

.invoice-form-tab-note .ant-tabs-bar {
  margin-bottom: 0;
  width: fit-content;
}

#wrap-invoice-form {
  background: #525659;
  padding-top: 26px;
}

#public-not {
  margin-top: 10px;
  font-family: enfont,khfont !important;
  line-height: 28px;
}

#public-not p {
  margin: 0;
}

#invoice-form
.ant-form-item-label > label::after {
  content: "";
}

@media print {
  #wrap-invoice-form {
    width: fit-content;
    background: #FFFFFF;
    padding: 0 !important;
    margin: 0 auto;
    height: fit-content;
  }
  .ant-layout-content {
    background: #FFFFFF !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #public-receipt-preview {
    width: 280mm;
  }

  .ant-dropdown-placement-bottomRight {
    display: none !important;
  }

  #sidebar,
  .ant-layout-header,
  .ant-page-header,
  #invoice-form,
  .ant-dropdown-menu,
  #header-print-preview
  {
    display: none !important;
  }

  #root {
    background: white;
  }

}

.entry-column-note .wrap-textarea .ant-form-item-control-wrapper{
  width: 100%;
  padding-top: 0 !important;
}

.entry-column-amount .ant-table-header-column {
  margin-right: 12px;
}

.table-form-invoice-entry tbody {
  vertical-align: top;
}